.reading-main {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.reading-button {
  border-radius: 50%;
  background-color: grey;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.reading-button:active {
  background-color:;
}
