.reading-main {
  background-color: #282c34;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2%; /* Use a percentage for padding */
  font-size: 2vmin; /* Use viewport units for font size */
  color: white;
  gap: 1%; /* Use a percentage for gap */
}

.reading-main-buttons {
  width: 100%;
  display: flex;
}

.reading-button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 5vmin; /* Use viewport units for font size */
}

.reading-button {
  opacity: 0;
  animation: fadeIn 200ms ease-in-out forwards;
  border-radius: 50%;
  background-color: grey;
  height: 30vmin; /* Use viewport units for height */
  width: 30vmin; /* Use viewport units for width */
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.reading-points-star-container {
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 10%; /* Use a percentage for min-width */
  grid-template-columns: repeat(5, 1fr);
}

.reading-points-counter {
  font-size: 5vmin; /* Use viewport units for font size */
  border-radius: 50%;
  background-color: #191c21;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vmin;
  aspect-ratio: 1;
  margin-bottom: 1vmin; /* Use viewport units for margin */
}

.reading-points-star {
  width: 3vmin; /* Use viewport units for width */
}

.reading-main-wordnpic {
  height: 100vh;
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.reading-main-points {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reading-pictures {
  width: 100%;
  text-align: center;
}

.reading-image {
  opacity: 0;
  animation: fadeIn 200ms ease-in-out forwards;
  width: 22%; /* Use viewport units for width */
  height: 23vmin; /* Use viewport units for height */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
